$primary-color: #da3a3f; //基色调
$background-color: #ededed; //背景颜色
$titleFont-size: 32px;  //标题字体
$inputFont-size: 28px;  //输入
$inputItem-color: #808080;
$input-color: #404040;
$input-placeholder: #bbb


